# Homework 5

#### Instructions:
- Please read these instructions as well as the questions carefully.
- Your best resource is likely the official documentation of the datascience package: http://data8.org/datascience.
- Feel free to use Excel to play with the data.
- Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell. Each time you start Jupyter Notebook, you will need to execute this cell.
- Please be sure not to re-assign variables throughout the notebook. For example, if you use `max_price` in your answer to one question, do not re-assign it later on.
- Please be sure not to re-define functions throughout the notebook. For example, if a question asks you to define `sharpe_ratio()`, the notebook that you submit should contain only one definition of that function.

In [5]:
# don't change this cell; just run it
from datascience import *
import numpy as np

Below we load tables containing 200,000 weekday Uber rides in the Manila, Philippines, and Boston, Massachusetts metropolitan areas from the [Uber Movement](https://movement.uber.com) project. The `sourceid` and `dstid` columns contain codes corresponding to start and end locations of each ride. The `hod` column contains codes corresponding to the hour of the day the ride took place. The `ride time` table contains the length of the ride, in minutes.

In [6]:
boston = Table.read_table('https://www.dropbox.com/s/dhuccab4wm2vrt6/boston.csv?raw=1')
manila = Table.read_table('https://www.dropbox.com/s/p3hpq7hr3603bkg/manila.csv?raw=1')
print("Boston Table")
boston.show(5)
print("Manila Table")
manila.show(5)

Boston Table

Manila Table

#### Question 1
Set the variable below to estimate of what percentage of rides are less than 10 minutes in Boston. DO NOT ROUND YOUR ANSWER. Your solution should consist of only mathematical operations and numbers.

In [7]:
boston_under_10 = (np.count_nonzero(boston.column('ride time') < 10)/ np.count_nonzero(boston.column('ride time')))*100
boston_under_10

22.829

#### Question 2
Set the variable below to estimate of what percentage of rides are less than 10 minutes in Manila. ROUND YOUR ANSWER TO THE NEAREST PERCENT. Your solution should consist of only mathematical operations and numbers.

In [8]:
manila_under_10 = np.round((np.count_nonzero(manila.column('ride time') < 10)/ np.count_nonzero(manila.column('ride time')))*100)
manila_under_10

10.0

#### Question 3
The `hod` column in each table represents the hour of the day during which the Uber was called. 0 corresponds to 12-1 AM, 1 to 1-2 AM, 13 to 1-2 PM, etc. Write a function which takes in a table like `boston` or `manila`, and an `hod` number between 0 and 23, and returns the average ride length from that hour in that city.

sourceid | dstid | hod  | ride time
729      | 1194  | 0    | 5.75
318      | 887   | 0    | 27.6683
654      | 188   | 0    | 3.65217
540      | 1011  | 0    | 16.6595
228      | 448   | 0    | 7.499
842      | 995   | 0    | 16.1572
33       | 425   | 0    | 19.1667
255      | 890   | 0    | 5.31983
1233     | 782   | 0    | 24.0537
286      | 276   | 0    | 10.7595
... (7590 rows omitted)

In [12]:
def avg_for_time(tbl, hod):
    return np.average(tbl.where('hod',hod).column('ride time'))
avg_for_time(boston, 4)

11.475439487531457

#### Question 4
Which city has a larger difference between Uber ride times at 10 AM vs. 10 PM? In other words, which is larger: the difference between 10 AM and 10 PM Uber ride times in Manila or the difference between 10 AM and 10 PM uber ride times in Boston. Use the function you just created to answer this question.

Assign `larger_diff` to the number 1 if the answer is Manila, and 2 if the answer is Boston.

In [10]:
if (avg_for_time(boston, 10) - avg_for_time(boston, 22)) < (avg_for_time(manila, 10) - avg_for_time(manila, 22)):
    larger_diff = 1
else:
    larger_diff = 0
larger_diff

1

#### Question 5
Create table `boston_by_hod` that contains the number of rides in each `hod`, sorted in descending order.

In [11]:

boston_by_hod = boston.where('ride time').group('hod',np.count_nonzero).sort('ride time count_nonzero',descending= True)
boston_by_hod.show()

## Submission
Once you're finished, select "Save and Checkpoint" in the File menu. Pay attention to the name of your notebook---it's to the right of the "jupyter" logo at the upper left-hand corner of the page. On your computer your notebook has a file extension .ipynb. Locate and submit it on Gradescope.