In [ ]:
# Uncomment the following lines of code and run this cell to install the "datascience" package.

#import sys
#!"{sys.executable}" -m pip install datascience

In [2]:
from datascience import *
import numpy as np

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this notebook.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant lecture notes at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [ ]:
2 + 3

In [ ]:
2 - 3

In [ ]:
2 * 3

In [ ]:
2 / 3

In [ ]:
# 2 * 2 * 2

2 ** 3

## Names ##

In [ ]:
a = 10
a

In [ ]:
a

In [ ]:
a = 12

In [ ]:
a

In [ ]:
b = 6

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
b = 7

In [ ]:
total

In [ ]:
total = a + b

In [ ]:
total

In [3]:
hours_per_week = 40
weeks_per_year = 52

In [ ]:
total_hours = hours_per_week * weeks_per_year

In [ ]:
total_hours

In [ ]:
hourly_minimum_wage = 10.50

In [ ]:
total_wages = total_hours * hourly_minimum_wage
total_wages

## Functions ##

In [ ]:
abs(-5)

In [ ]:
a

In [ ]:
2+3*5**6

In [ ]:
print(a)
print(b)
abs(abs(b - a)-5)

In [ ]:
min(8, 3)

In [ ]:
round(123.56789)

In [ ]:
round(123.56789, 2)

## Tables ##

In [4]:
# Each row represents one mega growth company

mega_growth = Table.read_table('https://www.dropbox.com/s/kaw56kq3iyyicvf/mega_growth.csv?raw=1')
mega_growth

Firm      | Ticker | Price   | PE
Alphabet  | GOOG   | 1601.07 | 35
Amazon    | AMZN   | 3313.74 | 127
Apple     | AAPL   | 493.91  | 37
Microsoft | MSFT   | 215.69  | 37

In [5]:
mega_growth.show(2)

In [6]:
mega_growth.select('PE')

PE
35
127
37
37

In [ ]:
mega_growth

In [7]:
mega_growth.select('Ticker', 'Price')

Ticker | Price
GOOG   | 1601.07
AMZN   | 3313.74
AAPL   | 493.91
MSFT   | 215.69

In [8]:
mega_growth

Firm      | Ticker | Price   | PE
Alphabet  | GOOG   | 1601.07 | 35
Amazon    | AMZN   | 3313.74 | 127
Apple     | AAPL   | 493.91  | 37
Microsoft | MSFT   | 215.69  | 37

In [9]:
mega_growth.drop('Price')

Firm      | Ticker | PE
Alphabet  | GOOG   | 35
Amazon    | AMZN   | 127
Apple     | AAPL   | 37
Microsoft | MSFT   | 37

In [10]:
no_price = mega_growth.drop('Price')

In [11]:
no_price

Firm      | Ticker | PE
Alphabet  | GOOG   | 35
Amazon    | AMZN   | 127
Apple     | AAPL   | 37
Microsoft | MSFT   | 37

In [12]:
mega_growth.sort('Price', 'PE')

Firm      | Ticker | Price   | PE
Amazon    | AMZN   | 3313.74 | 127
Alphabet  | GOOG   | 1601.07 | 35
Apple     | AAPL   | 493.91  | 37
Microsoft | MSFT   | 215.69  | 37

In [13]:
mega_growth.sort('Price', descending=True)

Firm      | Ticker | Price   | PE
Amazon    | AMZN   | 3313.74 | 127
Alphabet  | GOOG   | 1601.07 | 35
Apple     | AAPL   | 493.91  | 37
Microsoft | MSFT   | 215.69  | 37

In [14]:
mega_growth.where('Ticker', 'AMZN')

Firm   | Ticker | Price   | PE
Amazon | AMZN   | 3313.74 | 127

In [15]:
mega_growth.where('PE', 37)

Firm      | Ticker | Price  | PE
Apple     | AAPL   | 493.91 | 37
Microsoft | MSFT   | 215.69 | 37

In [16]:
mega_growth.drop('PE').sort('Price', descending=True)

Firm      | Ticker | Price
Amazon    | AMZN   | 3313.74
Alphabet  | GOOG   | 1601.07
Apple     | AAPL   | 493.91
Microsoft | MSFT   | 215.69