In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Ranges ##

In [4]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [3]:
np.arange(7, 25)

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       24])

In [5]:
np.arange(5, 26, 10)

array([ 5, 15, 25])

In [6]:
np.arange(5.01, 25.01, 10)

array([ 5.01, 15.01])

## Creating a Table from Scratch ##

In [10]:
Table()

In [11]:
streets = make_array('Commonwealth', 'Pleasant', 'Fearing', 'Amity')

In [ ]:
streets

In [12]:
Table().with_column('Street name', streets)

Street name
Commonwealth
Pleasant
Fearing
Amity

In [14]:
southside = Table().with_column('Street name', streets)

In [15]:
# creates a new table with the specified column
southside.with_column('Blocks away from campus', np.arange(4))

Street name  | Blocks away from campus
Commonwealth | 0
Pleasant     | 1
Fearing      | 2
Amity        | 3

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks away from campus', np.arange(4))

In [ ]:
southside

## Reading a Table from a File  ##

In [ ]:
msft = Table.read_table('https://www.dropbox.com/s/46ypdrs5bicrr16/msft.csv?raw=1')

In [ ]:
msft

## Selecting Data in a Column ##

In [ ]:
msft.select('date','PRC', 'RET')

In [ ]:
msft.column('PRC')

In [ ]:
msft.select('VOL').plot()

In [ ]:
# first item
msft.column('PRC').item(0)

## Extending a Table with a New Column ##

In [ ]:
good_month = msft.column('RET') > .02
good_month

In [ ]:
msft = msft.with_column('Good month', good_month)
msft

## Working with Columns ##

In [ ]:
msft.show(50)

In [ ]:
msft.labels

In [ ]:
msft.num_rows

In [ ]:
dollar_volume = msft.column('VOL') * msft.column('PRC')

In [ ]:
msft = msft.with_column('Dollar volume', dollar_volume)

In [ ]:
msft

## Rows ##

In [ ]:
msft.where('Good month', True)

In [ ]:
msft.where('RET', are.below(-.02))

In [ ]:
msft.where('DIVAMT', are.above(0))

In [ ]:
msft.take(3)

In [ ]:
msft.take(np.arange(4))