In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Functions ##

In [ ]:
def double(x):
    return x * 2

In [ ]:
double(7)

In [ ]:
double(15 / 3)

In [ ]:
my_number = 12

In [ ]:
double(my_number)

In [ ]:
double(make_array(1, 2))

In [ ]:
double(my_number / 8)

In [ ]:
double(make_array(3, 4, 5))

In [ ]:
double('data')

In [ ]:
type(double)

In [ ]:
x = 17

In [ ]:
double(x)

In [ ]:
x

In [ ]:
def percents(values):
    return np.round(values / sum(values) * 100, 2)

In [ ]:
percents(make_array(1, 2, 3, 4))

In [ ]:
percents(make_array(1, 4, 30))

In [ ]:
def percents(values, places):
    return np.round(values / sum(values) * 100, places)

In [ ]:
percents(make_array(1, 4, 30), 1)

## Apply ##

In [3]:
ages = Table().with_columns('Person', make_array('A', 'B', 'C', 'D'),
                            'Age', make_array(63, 110, 99, 102))
ages

Person | Age
A      | 63
B      | 110
C      | 99
D      | 102

In [ ]:
def cut_off_at_100(z):
    return min(z, 100)

In [ ]:
cut_off_at_100(3)

In [ ]:
cut_off_at_100(107)

In [ ]:
cut_age_array = ages.apply(cut_off_at_100, 'Age')
cut_age_array

In [ ]:
def double(x):
    return x * 2
ages.apply(double, 'Person')

In [ ]:
ages.with_column('Cut off ages', cut_age_array)

In [ ]:
type(cut_off_at_100)